/*-------------------------------------------------CLASES_PADRE--------------------------------------------------------*/
.class-body{
    background-color: #331b3b;
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-family: 'Outfit', sans-serif;
}

.class-header{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0 0 0 ;
    
}

.class-main{
    height: 91.4vh;
    width: 100%;
}

.class-textareas{
    text-align: center;
    margin: 10px 0;    
    width: 100%;
}

.class-buttons{
    text-align: center;
    margin: 0 0 20px 0;    
    width: 100%;
}

.class-advertencia{
    position: relative;
    height: 10%;
    width: 75%;
    margin: 75px auto;
    text-align: center;
}

.class-footer{
    color: white;
    text-align: center;    
    width: 100%;
    position: relative;
    top: 3px;
}

/*---------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------DIV_TEXTAREAS------------------------------------------------------*/
#textarea-ingreso{
    width: 25%;
    height: 300px;
    display: inline-block;
    position: relative;
    margin: 6px;
}

#textarea-salida{
    width: 25%;
    height: 300px;
    display: inline-block;
    position: relative;
    margin: 6px;
}
/*---------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------INPUT-TEXTAREAS-----------------------------------------------------*/
#texto-ingresado{
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 18px;
    background-color: #333e50;
    color: #f1debd;
    border: 1px solid #f1debd;
    border-radius: 3px;
}

#texto-resultado{
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 18px;
    background-color: #f1debd;
    color: #333e50;
    border: 2px solid #333e50;
    border-radius: 5px;
}

#texto-resultado:hover{
    cursor: pointer;
}

/*---------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------DIV_BUTTONS------------------------------------------------------*/
#divEncriptacion{
    display: inline;
}

#divDesencriptacion{
    display: inline;
}

#divLimpiar{
    display: inline;
}
/*---------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------INPUT_BUTTONS----------------------------------------------------*/
#boton-encriptar, #boton-desencriptar, #boton-limpiar{
    width: 15%;
    margin: 0px 5px;    
    font-family: 'Nunito', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    background-color: #5c6e6e;
    color: #f1debd;
    border: 1px solid #333e50;
    border-radius: 5px;
}

#boton-encriptar:hover, #boton-desencriptar:hover, #boton-limpiar:hover{
    cursor: pointer;
}
/*---------------------------------------------------------------------------------------------------------------------*/

#contenidoAdvertencia{
    width: 75%;
    display: inline-block;
    padding: 7px;
    font-size: 18px;
    color: #f1debd;
}

/*---------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 480px){
    #textarea-ingreso{
        width: 40%;
    }
    
    #textarea-salida{
        width: 40%;
    }

    #boton-encriptar, #boton-desencriptar, #boton-limpiar{
        width: 25%;
    }

    #contenidoAdvertencia{
        width: 100%;
    }
}